<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pojekt TTAI Robert Bartocha</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" src="animals.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="index.js" async></script>
</head>
<body>
  <main>
    <header>
      <nav>
        <ul>
          <li>
            <a href="https://mail.google.com/mail">Gmail</a>
          </li>
          <li>
            <a href="https://www.google.pl/imghp?hl=pl&tab=wi">Grafika</a>
          </li>
          <li>
            <a class="Icon" href="https://www.google.pl/intl/pl/about/products?tab=ih"><i class="fas fa-th"></i></a>
          </li>
          <li>
            <a class="Login" href="https://accounts.google.com/">
              Zaloguj się
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="Content1">
      <div class="Content2">
        <section>
          <img src="./LOGO/googlelogo_color_272x92dp.png" alt="Google Logo">
        </section>
        <section class="Content_search">
          <input type="text" v-model="inputContent">
          <div class="Content__search__icons">
            <i class="fas fa-keyboard"></i>
            <i  class="fas fa-microphone"></i>
          </div>
        </section>
        <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
        <section class="Content_buttons">
          <button type="button">
            Szukaj w Google
          </button>
          <button>
            Szczęśliwy trafik
          </button>
          <p>Korzystaj z google w innych językach: <a href="https://www.google.hu">magyar</a></p>
        </section>
      </div>
    </div>
  </main>
  <footer>
      <section>
        <h3>Polska</h3>
      </section>
      <section class="Foot">
        <nav>
          <ul>
            <li>
              <a href="https://www.google.pl/intl/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Reklamuj się</a>
            </li>
            <li>
              <a href="https://www.google.pl/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Dla firm</a>
            </li>
            <li>
              <a href="https://www.google.pl/intl/about/?utm_source=google-DE&utm_medium=referral&utm_campaign=hp-footer&fg=1">O nas</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a href="https://www.google.pl/intl/policies/privacy/?fg=1">Prywatność</a>
            </li>
            <li>
              <a href="https://www.google.pl/intl/policies/terms/?fg=1">Warunki</a>
            </li>
            <li>
              <a href="https://www.google.pl/preferences?hl=pl">Ustawienia</a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>
</body>
</html>
